// Colors
$black: hsl(0, 0%, 0%);
$blue-500: hsl(218, 87%, 64%);
$blue-300: hsl(218, 85%, 70%);
$blue-100: hsl(218, 82%, 75%);
$grey-300: hsl(0, 0%, 67%);
$grey-200: hsl(0, 0%, 73%);
$grey-100: hsl(0, 0%, 87%);
$white: hsl(0, 0%, 100%);

// Font sizes
$fs-xs: 0.9375rem;
$fs-sm: 1.0625rem;
$fs-md: 1.1875rem;
$fs-lg: 1.5rem;
$fs-xl: 1.625rem;
$fs-btn: 1.9rem;

// Font weights
$fw-lt: 300;
$fw-sb: 500;
$fw-bd: 600;
$fw-xb: 700;