@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

/* Text selection rules */
* ::selection {background-color: var(--blue-100); color: var(--white);}
* ::-moz-selection {background-color: var(--blue-100); color: var(--white);}

/* Box sizing rules */
*, *::before, *::after {box-sizing: border-box;}

/* Remove default margin */
* {
  font: inherit;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {list-style: none;}

/* Set core root defaults */
html:focus-within {scroll-behavior: smooth;}
html, body {height: 100%;}

/* Set core body defaults */
body {line-height: 1.25; text-rendering: optimizeSpeed;}

/* A elements that don't have a class get default styles */
a:not([class]) {text-decoration-skip-ink: auto;}

/* Make images easier to work with */
img, picture, svg {
  display: block;
  max-width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

/* WIDTH >= 320px */
:root {
  --black: hsl(0, 0%, 0%);
  --blue-100: hsl(218, 82%, 75%);
  --blue-300: hsl(218, 85%, 70%);
  --blue-500: hsl(218, 87%, 64%);
  --grey-100: hsl(0, 0%, 87%);
  --grey-300: hsl(0, 0%, 67%);
  --white: hsl(0, 0%, 100%);
  
  --ff-primary: "Barlow", sans-serif;

  --fs-x-small: 0.8125rem;   /* 13px */
  --fs-small: 0.875rem;      /* 14px */
  --fs-medium: 1.125rem;     /* 18px */
  --fs-sm-large: 1.1875rem;  /* 19px */
  --fs-large: 1.5rem;        /* 24px */

  --fw-normal: 400;
  --fw-sm-bold: 500;
  --fw-bold: 600;
  --fw-bolder: 700;
}

.container, .home-image, .home-description, .service-title, .service-image, .service-description {margin-inline: auto;}
.container {
  --max-width: 800px;
  --padding: 2rem;
  
  max-width: min(var(--max-width), 100% - var(--padding));
}

.grid-element {
  align-items: center;
  display: grid;
  justify-content: center;
}

body {
  font-family: var(--ff-primary);
  text-align: center;
}

h1, h2 {letter-spacing: 0.02rem;}
h1, h2, li, [data-type="contact-button"], [data-type="gallery-button"], [data-type="home-button"], .prices-list th, .prices-costs,
  .copyright {text-transform: uppercase;}

a:active, button:active {color: var(--blue-500);}
a, button {
  background-color: transparent;
  border: none;
  color: var(--black);
  cursor: pointer;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.nav-container, .nav-content, .gallery-nav, .program-content li {justify-content: space-between;}
.nav-container, .nav-content, .program, .program-content, .program-content li {width: 100%;}
.nav-container, .nav-content, [data-type="home-button"] {z-index: 1;}
.nav-container, .side-menu-container {transition-duration: 0.5s;}
.nav-container, [data-type="home-button"] {position: fixed;}
.nav-container {top: 0;}

.nav-content, .gallery-nav, .program-content li {grid-auto-flow: column;}
.nav-content {padding: 0.5rem;}
.logo {max-width: 9.5rem;}

[data-role="open-nav"], [data-role="close-nav"] {font-size: 1.7rem;}
[data-role="open-nav"] {
  letter-spacing: 0.0275rem;
  margin-top: 0.03625rem;
  transform: rotateZ(90deg);
}

.side-menu-aside, [data-type="home-button"], .nav-menu {display: none;}
.side-menu-container {
  height: 100vh;
  max-width: 100vw;
  padding-block: 0.25rem;
  padding-inline: 1rem;
  position: absolute;
  right: -50rem;
  top: 7.5rem;
  transition-timing-function: linear;
}

[data-role="close-nav"] {margin-left: auto;}

.secondary-logo {
  margin-bottom: 1.25rem;
  max-width: 100%;
}

.side-menu, .home-description, .service-description, .prices-header, .prices-services {text-align: left;}
.side-menu {
  align-items: start;
  row-gap: 1rem;
}

.program-title, .contact-title, .side-menu-nav-title {margin-bottom: 0.375rem;}
.program-content li, .contact-content li, .side-menu-nav li, .home-description {padding-block: 0.25rem;}

.home-section {height: 100vh; margin-top: 3rem;}
.home-content, .service-element-content {margin-top: 0.375rem;}
.home-content {order: 1;}

.home-description, .service-description {width: 97%;}
.home-description p:first-of-type {margin-bottom: 1rem;}

[data-type="contact-button"], [data-type="gallery-button"], [data-type="home-button"] {
  border: 1px solid var(--black);
  border-radius: 0.25rem;
}

[data-type="contact-button"], .prices-list th {letter-spacing: 0.05rem;}
[data-type="contact-button"] {
  margin-top: 0.625rem;
  padding-block: 0.75rem;
  padding-inline: 0.9375rem;
}

[data-type="contact-button"]:active, [data-type="home-button"]:active, [data-type="gallery-button"]:active, .prices-list th {color: var(--white);}
[data-type="contact-button"]:active, [data-type="gallery-button"]:active {
  background-color: var(--blue-100);
  border-color: var(--blue-100);
}

.services-section, .gallery-section, .prices-section {padding-block: 4rem;}
.services-content {
  margin-top: 2rem;
  row-gap: 2.5rem;
}

.service-title {
  line-height: 1.25rem;
  max-width: 14rem;
}

.title-underline {
  background-color: var(--blue-100);
  height: 0.05rem;
  margin: 0.125rem auto 1.25rem;
  width: 3.25rem;
}

.service-description, .gallery-content {overflow: hidden;}
.service-description {
  margin-block: 0.25rem;
  max-height: 6.25rem;
}

[data-type="home-button"], .nav-container, .side-menu-container {background-color: var(--white);}
[data-type="home-button"] {
  border-radius: 0.5rem;
  bottom: 0.75rem;
  padding: 0.375rem;
  right: 0.75rem;
}

[data-type="home-button"]:active {background-color: var(--black);}
.contact-link:active {
  border-bottom: 1px solid var(--black);
  color: var(--black);
}

.gallery-content {
  grid-template-columns: repeat(9, 100%);
  justify-content: flex-start;
}

.gallery-nav {
  column-gap: 0.75rem;
  grid-template-columns: repeat(2, 48.25%);
  margin-top: 0.875rem;
}

[data-type="gallery-button"] {
  letter-spacing: 0.02rem;
  line-height: 1.125rem;
  padding: 0.25rem;
}

.prices-section {padding-bottom: 6rem;}
.prices-list {
  border-color: var(--blue-100);
  border-collapse: collapse;
  border-inline: 1px solid transparent;
  margin-bottom: 0.5rem;
  width: 100%;
}

.prices-header, .prices-services {padding-left: 0.375rem;}
.prices-list col {width: 68%;}
.prices-list thead {background-color: var(--blue-100);}
.prices-list th, .prices-list td {line-height: 1.125rem;}
.prices-list th {padding-block: 0.5rem; text-shadow: 0px 0px 3px black;}
.prices-list td {padding-block: 0.7625rem;}

.contact-section {padding-block: 1.375rem;}
.side-menu {justify-content: unset;}
.side-menu-nav-content a:active {color: var(--black); text-decoration: underline;}
.copyright {margin: 2rem auto -0.5rem;}

/* HEIGHT <= 548px */ @media (max-height: 34.25em) and (orientation: portrait) {.secondary-logo {display: none;}}

/* WIDTH >= 360px */
@media (min-width: 22.5em) {
  .container {--padding: 2.5rem;}
  p {font-size: 1.0625rem; /* 17px */ }

  .nav-content {padding: 0.75rem;}
  .logo {max-width: 10rem;}
  [data-role="open-nav"], [data-role="close-nav"] {font-size: 1.8rem;}
  
  .side-menu-container {padding-block: 0.5rem; padding-inline: 1.25rem;}
  .secondary-logo {margin-bottom: 1.75rem;}
  .side-menu {row-gap: 1.5rem;}
  .program-title, .contact-title, .side-menu-nav-title {margin-bottom: 0.5rem;}
  .program-content li, .contact-content li, .side-menu-nav li, [data-type="gallery-button"] {padding-block: 0.375rem;}


  .home-section {margin-top: 0;}
  .service-element-content {margin-top: 0.5rem;}
  .service-description, .home-description {line-height: 1.4rem;}
  .service-description {margin-block: 0.375rem; max-height: 8.5rem;}

  .prices-list td {padding-block: 0.825rem;}
}

/* WIDTH >= 375px */ @media (min-width: 23.4em) {.nav-content {padding-inline: 0.875rem;} .prices-list td {padding-block: 0.9rem;}}

/* WIDTH >= 390px */
@media (min-width: 24.3em) {
  .container {--padding: 2.75rem;}

  .side-menu-container {padding-block: 0.75rem; padding-inline: 1.5rem;}
  .secondary-logo {margin-bottom: 2rem;}
  .side-menu {row-gap: 1.75rem;}

  .prices-list td {padding-block: 0.95rem;}
}

/* WIDTH >= 412px */
@media (min-width: 25.75em) {
  .container {--padding: 3rem;}

  .nav-content {padding-inline: 1rem;}
  .logo {max-width: 10.5rem;}

  .home-content {margin-top: 0.5rem;}
  .home-description {padding-block: 0.375rem;}

  [data-role="open-nav"] {margin-top: 0.2rem;}
  [data-type="contact-button"] {padding-block: 0.875rem; padding-inline: 1rem;}
  [data-type="gallery-button"] {padding-block: 0.5rem;}

  .prices-list td {padding-block: 1.0875rem;}
}

/* WIDTH >= 428px */ @media (min-width: 26.75em) {.container {--padding: 3.5rem;} .prices-list td {padding-block: 1.125rem;}}

                                                  /* TABLET STYLES */

/* WIDTH >= 460px */
@media (min-width: 28.75em) {
  :root { --fs-sm-large: 1.125rem;  /* 18px */ }

  .logo {max-width: 11rem;}
  [data-role="open-nav"], [data-role="close-nav"] {font-size: 1.9rem;}

  #secondary-nav {background-color: var(--white); padding-block: 0.875rem; padding-inline: 1.125rem;}
  .side-menu-container {
    background-color: transparent;
    display: grid;
    grid-template-columns: 32.5% 67.5%;
    padding: 0;
  }

  .side-menu-aside {
    background-color: var(--blue-100);
    display: block;
    height: 100vh;
    opacity: 0;
    transition-duration: 0.25s;
  }

  .home-container {width: 80%;}
  .services-section, .gallery-section, .prices-section {padding-block: 5rem;}
  .services-content {gap: 1.25rem; grid-template-columns: repeat(2, 1fr);}
  .service-description {
    line-height: 1.15rem;
    margin-block: 0.25rem;
    max-height: 4.75rem;
    width: 100%;
  }

  .gallery-nav {display: none;}
  .gallery-content::-webkit-scrollbar {background-color: var(--grey-100); height: 0.625rem;}
  .gallery-content::-webkit-scrollbar-thumb {background-color: var(--blue-100);}
  .gallery-content {
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 48.25%);
    grid-template-rows: repeat(2, 1fr);
    overflow-x: scroll;
    padding-bottom: 0.5rem;
  }

  .prices-section {padding-bottom: 7rem;}
  .prices-list col {width: auto;}
  .prices-list th, .prices-list td {padding-block: 0.8rem;}
}

/* WIDTH >= 500px */
@media (min-width: 31.25em) {
  .side-menu-container {grid-template-columns: 35% 65%;}
  .prices-list th, .prices-list td {padding-block: 0.8825rem;}
}

/* WIDTH >= 540px */
@media (min-width: 33.75em) {
  .side-menu-container {grid-template-columns: 37.5% 62.5%;}
  .home-container {width: 77.5%;}
  .gallery-content {grid-template-columns: repeat(5, 48.5%);}
  .prices-list th, .prices-list td {padding-block: 1.0275rem;}
}

/* WIDTH >= 600px */
@media (min-width: 37.5em) {
  :root {--fs-x-small: 0.875rem; /* 14px */ }

  .container {--padding: 4rem;}
  .side-menu-container {grid-template-columns: 40% 60%;}

  .home-content {margin-top: 0.625rem;}
  .home-description, .service-description {line-height: 1.375rem;}

  .services-content {column-gap: 1.5rem; row-gap: 1.75rem;}
  .service-description {max-height: 5.5rem;}

  .gallery-content {grid-template-columns: repeat(5, 48.75%);}
  .prices-list th, .prices-list td {padding-block: 0.95rem;}
  .contact-section {padding-top: 1.75rem;}
}

/* WIDTH >= 712px */
@media (min-width: 44.5em) {
  .container {--padding: 6rem;}
  p {font-size: 1.125rem; /* 18px */ }

  .nav-content {padding-block: 0.875rem; padding-inline: 1.125rem;}
  #secondary-nav {padding-block: 1rem; padding-inline: 1.25rem;}
  .side-menu-container {grid-template-columns: 45% 55%;}

  .home-container {width: 75%;}
  .home-content {margin-top: 0.75rem;}
  .home-description, .service-description {line-height: 1.5rem;}
  .home-description {padding-block: 0.5rem;}
  [data-type="contact-button"] {padding-block: 1rem;}
  
  .services-content {gap: 2rem;}
  .service-description {max-height: 6rem;}
  
  .prices-list th, .prices-list td {padding-block: 0.96rem;}
  .contact-section {padding-top: 2.75rem;}
  .side-menu {display: grid; grid-template-columns: 30% 42.5% 10%; justify-content: space-between;}
  .copyright {margin: 3rem auto -0.25rem;}
}

/* WIDTH >= 768px */
@media (min-width: 48em) {
  .container {--padding: 6.5rem;}
  .gallery-content {grid-template-columns: repeat(5, 49%);}
  .prices-list th, .prices-list td {padding-block: 1.095rem;}
}

/* WIDTH >= 800px */
@media (min-width: 50em) {
  .nav-content {padding: 1.25rem;}
  .nav-menu, .service-element {grid-auto-flow: column;}
  .nav-menu {column-gap: 1.75rem; display: grid;}
  .nav-menu li {font-weight: 500; letter-spacing: 0.04rem;}
  .side-menu-container, [data-role="open-nav"] {display: none;}

  .services-section, .gallery-section, .prices-section {padding-block: 6rem;}
  .service-title {max-width: 100%;}
  .services-content {
    grid-template-columns: auto;
    margin-top: 3rem;
    row-gap: 6rem;
  }

  .service-element {justify-content: space-between;}
  .service-element:nth-of-type(odd) {grid-template-columns: 43% 53%;}
  .service-element:nth-of-type(even) {grid-template-columns: 53% 43%;}
  .service-element-content {margin: 0;}
   #image-2, #image-4 {order: 1;}
   #description-1, #description-3 {text-align: right;}
  .service-description {
    line-height: 1.3rem;
    margin-block: 0.25rem;
    max-height: 4rem;
    width: auto;
  }

  .gallery-content {
    gap: 0.75rem;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    overflow: hidden;
    padding: 0;
  }
  
  .prices-section {padding-bottom: 8rem;}
  .prices-list th, .prices-list td {padding-block: 1.105rem;}
}

/* WIDTH >= 820px */
@media (min-width: 51.25em) {.services-content {row-gap: 5rem;} .prices-list th, .prices-list td {padding-block: 1.165rem;}}

/* WIDTH >= 834px */
@media (min-width: 52em) {.nav-content {padding-inline: 1.5rem;} .prices-list th, .prices-list td {padding-block: 1.2rem;}}

/* WIDTH >= 884px */
@media (min-width: 55.25em) {
  .container {--padding: 7.5rem;}
  .nav-content {padding-block: 1.5rem; padding-inline: 1.75rem;}
  .home-container {width: 72.5%;}
  .prices-list th, .prices-list td {padding-block: 1.28rem;}
}

/* WIDTH >= 912px */ @media (min-width: 57em) {.prices-list th, .prices-list td {padding-block: 1.14rem;}}

                                                  /* DESKTOP STYLES */

/* WIDTH >= 1024px */
@media (min-width: 64em) {
  :root::-webkit-scrollbar {background-color: var(--grey-100); width: 0.65rem;}
  :root::-webkit-scrollbar-thumb {background-color: var(--blue-100);}
  :root::-webkit-scrollbar-thumb:hover, [data-type="contact-button"]:hover {background-color: var(--blue-300);}
  :root::-webkit-scrollbar-thumb:active {background-color: var(--blue-500);}
  
  p {font-size: 1.0625rem; /* 17px */ }
  a, button, .section-title, .service-element, .gallery-content, .prices-list {transition-duration: 0.5s;}
  [data-type="contact-button"] {zoom: 0.875;}
  [data-type="home-button"] {bottom: 1.5rem; right: 1.5rem;}
  [data-type="home-button"]:hover {background-color: var(--black);}
  [data-type="home-button"]:hover, [data-type="contact-button"]:hover {color: var(--white);}

  .nav-content {margin-inline: auto; padding-block: 0.75rem; padding-inline: 0; width: 875px;}
  .nav-menu li a:hover {color: var(--blue-300);}
  .side-menu li a:hover {border-bottom: 1px solid var(--black);}
  
  .home-section {
    background-image: url(https://edibalan.github.io/alice-kineto/assets/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 97.5%;
  }

  .home-container {
    grid-auto-flow: column;
    grid-template-columns: 60% 42.5%;
    justify-content: space-between;
    text-align: left;
    width: auto;
  }

  .home-content {order: -1;}
  .home-content, .home-description {margin: 0;}
  .home-description, .service-description {line-height: 1.35rem;}
  .home-description {padding-block: 0.125rem;}
  .home-description p:first-of-type {margin-bottom: 0.75rem;}

  .service-element:nth-of-type(odd) {grid-template-columns: 39% 57%;}
  .service-element:nth-of-type(even) {grid-template-columns: 57% 39%;}
  .service-description {max-height: 4rem;}
  
  .gallery-image {cursor: zoom-in;}
  .prices-list th, .prices-list td {padding-block: 1.2rem;}
}

/* WIDTH >= 1024px and HEIGHT >= 712px */ @media (min-width: 64em) and (min-height: 44.5em) {.services-content {row-gap: 8rem;}}

/* WIDTH >= 1280px */ @media (min-width: 80em) {.home-section {background-size: 85%;}}
/* WIDTH >= 1366px */ @media (min-width: 85em) {.home-section {background-size: 80%;}}

/* WIDTH >= 1440px */
@media (min-width: 90em) {
  .container {--max-width: 850px;}
  .nav-content {width: 900px;}

  .home-container {grid-template-columns: 56% 44%;}
  .services-section, .gallery-section, .prices-section {padding-block: 7rem;}
  .service-element:nth-of-type(odd) {grid-template-columns: 40% 55%;}
  .service-element:nth-of-type(even) {grid-template-columns: 55% 40%;}

  .prices-section {padding-bottom: 9rem;}
  .prices-list th, .prices-list td {padding-block: 1.125rem;}
}

/* WIDTH >= 1440px and HEIGHT >= 864px */ @media (min-width: 90em) and (min-height: 54em) {.services-content {row-gap: 10rem;}}

/* WIDTH >= 1536px */ @media (min-width: 96em) {.home-section {background-size: 75%;}}

/* WIDTH >= 1680px */
@media (min-width: 105em) {
  .container {--max-width: 900px;}
  .nav-content {width: 950px;}
  
  .home-container {grid-template-columns: 53% 45%;}
  .home-description, .service-description {line-height: 1.5rem;}
  .service-description {max-height: 4.5rem;}

  .prices-list th, .prices-list td {padding-block: 1.065rem;}
}

/* WIDTH >= 1680px and HEIGHT >= 1024px */ @media (min-width: 105em) and (min-height: 64em) {.services-content {row-gap: 12rem;}}

/* WIDTH >= 1920px */
@media (min-width: 120em) {
  .container {--max-width: 950px}
  .nav-content {width: 1000px;}

  .home-container {grid-template-columns: 52% 46%;}
  .prices-list th, .prices-list td {padding-block: 1.16rem;}
}

/* UTILITY CLASSES */
.blue-bg {background-color: var(--blue-100);}
.blue-clr {color: var(--blue-100);}

.fs-x-small {font-size: var(--fs-x-small);}
.fs-small {font-size: var(--fs-small);}
.fs-medium {font-size: var(--fs-medium);}
.fs-sm-large {font-size: var(--fs-sm-large);}
.fs-large {font-size: var(--fs-large);}
.fs-larger {font-size: var(--fs-larger);}

.fw-normal {font-weight: var(--fw-normal);}
.fw-sm-bold {font-weight: var(--fw-sm-bold);}
.fw-bold {font-weight: var(--fw-bold);}
.fw-bolder {font-weight: var(--fw-bolder);}

.box-shadow {box-shadow: 1px 1px 5px var(--grey-300);}
.display-home-button {display: block;}
.extend-description {max-height: 100%;}
.hide-nav-menu {top: -7.5rem;}
.opacity {opacity: 0.275; transition-duration: 0.75s;}
.open-side-menu {right: 0;}
.zoom {cursor: zoom-out; position: absolute;}
